/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);
/* Maintenance Vars */
/* Colors */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-md-2 {
    width: 25%; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-md-2 {
    width: 25%; } }
.label {
  font-size: 20px;
  border-radius: 0; }

.form-group .form-control {
  color: #666;
  border-radius: 0;
  height: 50px;
  font-size: 18px; }
.form-group label {
  color: #666;
  font-size: 18px; }

.trackers-container .trackers-list {
  padding: 0; }
  .trackers-container .trackers-list li {
    position: relative;
    list-style-type: none;
    height: 40px;
    line-height: 40	px;
    background: #fff;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px; }
    .trackers-container .trackers-list li .dragger {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      width: 25px;
      height: 40px;
      background: rgba(199, 37, 67, 0.5);
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0); }
      .trackers-container .trackers-list li .dragger.Task {
        background: #286090; }
        .trackers-container .trackers-list li .dragger.Task:before {
          content: "\f0ad";
          line-height: 40px;
          display: block;
          text-align: center;
          color: white; }
      .trackers-container .trackers-list li .dragger.Defect {
        background: #D9534F; }
        .trackers-container .trackers-list li .dragger.Defect:before {
          content: "\f188";
          line-height: 40px;
          display: block;
          text-align: center;
          color: white; }
      .trackers-container .trackers-list li .dragger.Requirement {
        background: #449D44; }
        .trackers-container .trackers-list li .dragger.Requirement:before {
          content: "\f044";
          line-height: 40px;
          display: block;
          text-align: center;
          color: white; }
    .trackers-container .trackers-list li a {
      margin-left: 20px; }
    .trackers-container .trackers-list li .tracker-title {
      display: inline-block;
      font-size: 18px;
      padding-left: 15px;
      position: relative;
      line-height: 40px;
      height: 100%;
      max-width: 750px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .trackers-container .trackers-list li .assigned-to {
      float: right;
      background: rgba(199, 37, 67, 0.5);
      color: white;
      padding: 0 10px; }
    .trackers-container .trackers-list li .status {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 12px;
      font-weight: bold;
      font-family: monospace;
      color: #a6a6a6;
      padding-right: 10px; }
      .trackers-container .trackers-list li .status:hover {
        color: gray; }

.show-page-container .well {
  background: white;
  margin: 0;
  padding: 10px;
  border-radius: 0;
  margin-bottom: 20px; }
  .show-page-container .well .col-md-1 {
    padding: 0; }
.show-page-container .project-title {
  font-size: 18px;
  color: #666; }
.show-page-container .tracker-title {
  font-size: 20px;
  color: #666;
  padding: 0 40px 0 40px;
  text-align: left; }
.show-page-container .description {
  color: #666;
  font-size: 18px;
  margin: 20px 0 20px 0; }
.show-page-container .button-container {
  width: 100%;
  overflow: auto;
  margin-top: 20px; }
  .show-page-container .button-container .btn {
    border-radius: 0;
    width: 50%; }
    .show-page-container .button-container .btn:first-child {
      float: left;
      background: #c2c2c2; }
    .show-page-container .button-container .btn:last-child {
      float: right;
      background: #3d9713; }

body {
  background: #dedede; }

.subheader-title {
  font-family: 'Black Ops One';
  color: #cd0000;
  font-size: 1.5em; }

.breadcrumb {
  border-radius: 0; }

.homepage {
  padding-top: 10%;
  position: relative;
  text-align: center; }
  .homepage h1 {
    font-family: 'Black Ops One';
    color: #cd0000;
    font-size: 8em;
    margin-bottom: 50px; }
  .homepage .btn-trackers {
    font-family: 'Black Ops One';
    background: #cd0000;
    color: white;
    font-size: 25px;
    padding: 20px; }
  .homepage p {
    left: 50%;
    top: 60%;
    font-size: 25px;
    color: #333;
    position: absolute; }
    .homepage p span {
      font-size: 14px; }
