body {
	background: $light-grey-1;
}

.subheader-title {
	font-family: 'Black Ops One';
	color: $medium-red-1;
	font-size: 1.5em;
	
}

.breadcrumb {
	border-radius: 0;	
}

.homepage {
	padding-top: 10%;
	position: relative;
	text-align: center;
	h1 {
		font-family: 'Black Ops One';
		color: $medium-red-1;
		font-size: 8em;
		margin-bottom: 50px;
	}

	.btn-trackers {
		font-family: 'Black Ops One';
		background: $medium-red-1;
		color: white;
		font-size: 25px;
		padding: 20px;
		min-width: 500px;
	}

	p {
		left: 50%;
		top: 45%;
		font-size: 22px;
		color: #666;

		position: absolute;
		span {
			font-size: 14px;
		}
	}

	.login-form-container {
		width: 500px;
		margin: 0 auto;

		input {
			height: 55px;
			font-size: 20px;
			color: #666;
		}
	}

}


.trackers-container {
	float: left;
	width: 48%;
}

.outlet-container {
	float: right;
	width: 48%;

	.breadcrumb {
		display: none;
	}

}


