.show-page-container {
	//position: fixed;
	//top: 0;

	


	.tracker-label {
		color: #666;
	}

	.assigned-to {
		font-size: 16px;
	}
	
	.tracker-id-label {
		display: inline-block;
		font-size: 18px;
		width: 100%;
		padding: 10px;
	}

	.well {
		background: white;
		margin: 0;
		padding: 10px;
		border-radius: 0;
		margin-bottom: 20px;

		.col-md-1 {
			padding: 0;
		}
	}

	.project-title {
		font-size: 18px;
		color: #666;
	}

	.tracker-title {
		font-size: 16px;
		margin: 10px 0;
		padding: 10px;
		color: #666;
		background: white;
		text-align: left;
	}

	.description {					
		color: #666;
		font-size: 14px;
		margin: 20px 0 20px 0;
		word-break: break-word;
	}

	.button-container {
		width: 100%;		
		overflow: auto;
		margin-top: 20px;

		.btn {
			border-radius: 0;
			width: 50%;
			font-weight: bold;
			
			&:first-child {
				float: left;
				background: darken($light-grey-3, 5%);
				color: #666;
			}
			&:last-child {
				float: right;
				background: darken($light-green-2, 5%);
			}
		}

	}


	.artifact-labels-row {
		.label, label-primary, label-info, label-warning {
			float: left;
			padding: 10px;
			width: 33.3333%;
			display: inline-block;
		}


	}

	.effort-boxes {
		.form-group {
			float: left;
			width: 25%;

			.form-control {
				color: #666;
				border-radius: 0;
				height: 50px;
				font-size: 16px;
			}
			label {
				color: #666;
				font-size: 14px;
			}
		}

	}


	.attachments-container {		
		margin: 20px 0 0 0;
		
		&:before {
			content: "Attachments";
			background: darken($light-grey-3, 10%);
			padding: 10px;
			display: block;
			color: #666;
			font-size: 16px;
			font-weight: bold;
		}

		.attachments-list {			
			list-style-type: none;
			padding: 0;


			.attachments-list-item {				

				a {
					font-size: 18px;
					padding: 10px;
					display: block;
					background: white;
					border-bottom: 1px solid $light-grey-1;
					padding-left: 30px;
					position: relative;

					.fa {
						position: absolute;
						left: 10px;
						top: 30%;
					}
				}

			}
		}

	}

	
	
}