.show-page-container {
	//position: fixed;
	//top: 0;

	
	.tracker-id-label {
		display: inline-block;
		width: 100%;
	}

	.well {
		background: white;
		margin: 0;
		padding: 10px;
		border-radius: 0;
		margin-bottom: 20px;

		.col-md-1 {
			padding: 0;
		}
	}

	.project-title {
		font-size: 18px;
		color: #666;
	}

	.tracker-title {
		font-size: 16px;
		margin: 10px 0;
		padding: 10px;
		color: #666;
		background: white;
		text-align: left;
	}

	.description {					
		color: #666;
		font-size: 14px;
		margin: 20px 0 20px 0;
	}

	.button-container {
		width: 100%;		
		overflow: auto;
		margin-top: 20px;

		.btn {
			border-radius: 0;
			width: 50%;
			
			&:first-child {
				float: left;
				background: darken($light-grey-3, 5%);
			}
			&:last-child {
				float: right;
				background: darken($light-green-2, 5%);
			}
		}

	}


	.label {
		font-size: 20px;
		border-radius: 0;
	}

	.effort-boxes {
		.form-group {
			float: left;
			width: 25%;

			.form-control {
				color: #666;
				border-radius: 0;
				height: 50px;
				font-size: 16px;
			}
			label {
				color: #666;
				font-size: 14px;
			}
		}

	}
	
	
}